In [16]:
import pandas as pd
import numpy as np

Question 1

In [2]:
print(pd.__version__)

2.1.0

In [3]:
# Import the dataset
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")

In [4]:
# Explore dataset samples
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Question 2

In [5]:
print(len(df.columns))

10

Question 3

In [11]:
print(df.isnull().sum() > 0)

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

Question 4

In [12]:
print(df.ocean_proximity.nunique())

5

Question 5

In [13]:
print(df[df["ocean_proximity"]=="NEAR BAY"].median_house_value.mean())

259212.31179039303

Question 6

In [14]:
total_bedrooms_avg = df.total_bedrooms.mean()
print(f"Average value before filling missing values: {round(total_bedrooms_avg, 3)}")
df.total_bedrooms.fillna(total_bedrooms_avg, inplace=True)
print(f"Average value after filling missing values: {round(df.total_bedrooms.mean(), 3)}")

Average value before filling missing values: 537.871
Average value after filling missing values: 537.871

Question 7

In [15]:
df.ocean_proximity.value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [18]:
X = df[df.ocean_proximity == "ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]].values
XTX = np.matmul(X.T, X)
XTX_inverse = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = np.matmul(np.matmul(XTX_inverse, X.T), y)
print(w[-1])

5.699229455065586